@import 'font-colors';

.jumbotron {
    height : 100vh;
    width : 100%;
    display : flex;
    align-items : center;
    justify-content : center;
    flex-direction : column;
    user-select: none;
    .image {
        height : 250px;
        width : auto;
    }
    h1 {
        color : $primary-color;
        font-family : $primary-font;
        font-weight : 700;
        font-size : 24px;
    }
    h2 {
        color : $secondary-color;
        font-family : $secondary-font;
        font-weight : 400;
        font-size : 16px;
    }
}

.container {
    width : 1080px;
    margin : 0 auto;
}

$bp-ponsel : 300px;
$bp-tablet : 768px;
$bp-desktop : 1080px;

@media (min-width : $bp-ponsel) {
    .container {
        width : 100%;
    }
}

@media (min-width : $bp-tablet) {
    .container {
        width : 700px;
    }
}
@media (min-width : $bp-desktop) {
    .container {
        width : 900px;
    }
}