@import "font-colors";

.jumbotron {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  user-select: none;
  .image-decor {
    position: relative;
    height: 350px;
  }
  .image {
    height: 250px;
    width: auto;
    position: absolute;
  }
  h1 {
    color: $primary-color;
    font-family: $primary-font;
    font-weight: 700;
    font-size: 24px;
  }
  h2 {
    color: $secondary-color;
    font-family: $secondary-font;
    font-weight: 400;
    font-size: 16px;
  }
}

.container {
  width: 1080px;
  margin: 0 auto;
}

.end {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  user-select: none;
  h1 {
    color: $primary-color;
    font-family: $primary-font;
    font-weight: 700;
    font-size: 24px;
  }
  h2 {
    color: $secondary-color;
    font-family: $secondary-font;
    font-weight: 400;
    font-size: 16px;
  }
  button {
    text-decoration: none;
    border-color: rgba($color: #ffffff, $alpha: 1);
    border-style: solid;
    border-width: 1.4px;
    font-family: $primary-font;
    color: rgba($color: #ffffff, $alpha: 1);
    background-color: rgba($color: #121212, $alpha: 1);
    padding: 9px 25px;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.5s ease 0s;
    &:hover {
      color: rgba($color: #121212, $alpha: 1);
      background-color: rgba($color: #ffffff, $alpha: 1);
    }
  }
}

$bp-ponsel: 300px;
$bp-tablet: 768px;
$bp-desktop: 1080px;

@media (min-width: $bp-ponsel) {
  .container {
    width: 100%;
  }
}

@media (min-width: $bp-tablet) {
  .container {
    width: 700px;
  }
}
@media (min-width: $bp-desktop) {
  .container {
    width: 900px;
  }
}

@media (max-height: 450px) {
  .jumbotron {
    height: 450px;
  }
}
