.image{
    max-width : 450px;
}

.img-fluid{
    max-width : 300px !important;
}

.container {
    &-c{
        background-color : rgba($color: #fff, $alpha: 0.05);
        h3 {
            color :rgba($color: #fff, $alpha: 0.8);
        }
    }
    &-md{
        background-color : rgba($color: #fff, $alpha: 0.05);
    }
}