::-webkit-scrollbar{
    width : 10px;
}
::-webkit-scrollbar-thumb{
    border-radius : 15px;
    background : rgba($color: #fff, $alpha: 0.5);
}
::selection{
    color : black;
    background : white;
}

body {
    background-color : #121212 !important;
}