@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Padauk:wght@400;700&display=swap");
.font-primary {
  font-family: "Padauk", sans-serif;
  color: rgba(255, 255, 255, 0.8);
}

.font-primary-bold {
  font-weight: bold;
  color: rgba(255, 255, 255, 0.8);
}

.font-secondary {
  font-family: "Lato", sans-serif;
  color: rgba(255, 255, 255, 0.6);
}

.font-secondary-bold {
  font-weight: bold;
  color: rgba(255, 255, 255, 0.6);
}

.font-secondary-italic {
  font-style: italic;
  color: rgba(255, 255, 255, 0.6);
}

.loader-wrapper {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #121212;
  z-index: 3;
}

.lds-facebook {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-facebook div {
  display: inline-block;
  position: absolute;
  left: 8px;
  width: 16px;
  background: #fff;
  -webkit-animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
          animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}

.lds-facebook div:nth-child(1) {
  left: 8px;
  -webkit-animation-delay: -0.24s;
          animation-delay: -0.24s;
}

.lds-facebook div:nth-child(2) {
  left: 32px;
  -webkit-animation-delay: -0.12s;
          animation-delay: -0.12s;
}

.lds-facebook div:nth-child(3) {
  left: 56px;
  -webkit-animation-delay: 0;
          animation-delay: 0;
}

@-webkit-keyframes lds-facebook {
  0% {
    top: 8px;
    height: 64px;
  }
  50%, 100% {
    top: 24px;
    height: 32px;
  }
}

@keyframes lds-facebook {
  0% {
    top: 8px;
    height: 64px;
  }
  50%, 100% {
    top: 24px;
    height: 32px;
  }
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.5);
}

::-moz-selection {
  color: black;
  background: white;
}

::selection {
  color: black;
  background: white;
}

.top-navbar {
  background: #121212;
}

.image {
  max-width: 450px;
}

.img-fluid {
  max-width: 300px !important;
}

.container-c {
  background-color: rgba(255, 255, 255, 0.05);
}

.container-c h3 {
  color: rgba(255, 255, 255, 0.8);
}

.container-md {
  background-color: rgba(255, 255, 255, 0.05);
}

html {
  scroll-behavior: smooth;
  --fontColor: rgba(255, 255, 255, 0.8);
  --backgroundColor: #121212;
}

body {
  background-color: var(--backgroundColor);
}

.font-rainbow {
  color: var(--fontColor);
}

@media (min-width: 768px) {
  .container-small {
    width: 600px;
  }
  .container-large {
    width: 970px;
  }
}

@media (min-width: 992px) {
  .container-small {
    width: 700px;
  }
  .container-large {
    width: 900px;
  }
}

@media (min-width: 1200px) {
  .container-small {
    width: 800px;
  }
  .container-large {
    width: 1000px;
  }
}

.container-small,
.container-large {
  max-width: 100%;
}

.scroll-wrapper {
  height: 10%;
}

.scroll-link {
  text-decoration: none;
}

.jumbotron-text {
  overflow: hidden;
}
/*# sourceMappingURL=style.css.map */