@import "scss/internal";
@import "scss/font-colors";
@import "scss/container";

// Aku ngga ngerti kamu pisahinnya gimana jadi nulis di sini

@mixin containerFlex {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  user-select: none;
}

.siapa_container {
  @include containerFlex();

  flex-direction: row;

  h1 {
    color: $primary-color;
    font-family: $primary-font;
    font-weight: 700;
    font-size: 24px;
  }
  h2 {
    color: $secondary-color;
    font-family: $secondary-font;
    font-weight: 400;
    font-size: 16px;
  }
  .siapa_title {
    h1 {
      text-align: center;
    }
  }
  .siapa_text {
    margin-left: 50px;
    width: 350px;
  }
}

.divisi_container {
  //border: 2px solid yellow;
  @include containerFlex();
  h1 {
    color: $primary-color;
    font-family: $primary-font;
    font-weight: 700;
    font-size: 24px;
  }
  h2 {
    color: $secondary-color;
    font-family: $secondary-font;
    font-weight: 400;
    font-size: 16px;
  }

  .divisi_title {
    //border: 2px solid red;
    display: flex;
    margin-bottom: 70px;
    .divisi_title_text {
      margin-left: 20px;
    }
  }
  .divisi_developer {
    //border: 2px solid blue;
    display: flex;
    margin-bottom: 50px;
    .divisi_developer_text {
      width: 350px;
      text-align: right;
      .divisi_developer_text_title {
        margin-right: -40px;
        margin-bottom: 10px;
      }
    }
    svg {
      margin-left: 50px;
      width: 300px;
      height: 250px;
    }
  }
  .divisi_designer {
    //border: 2px solid green;
    display: flex;
    .divisi_designer_text {
      width: 350px;
      .divisi_designer_text_title {
        margin-left: -40px;
        margin-bottom: 10px;
      }
    }
    svg {
      margin-right: 50px;
      width: 300px;
      height: 250px;
    }
  }
}

.kegiatan_container {
  //border: 2px solid yellow;
  @include containerFlex();

  h1 {
    color: $primary-color;
    font-family: $primary-font;
    font-weight: 700;
    font-size: 24px;
  }
  h2 {
    color: $secondary-color;
    font-family: $secondary-font;
    font-weight: 400;
    font-size: 16px;
  }

  .kegiatan_title {
    //border: 2px solid red;
    display: flex;
    margin-bottom: 90px;
    .kegiatan_title_text {
      margin-right: 20px;
    }
  }

  .kegiatan_bersama {
    //border: 2px solid blue;
    display: flex;
    margin-bottom: 100px;
    svg {
      margin: auto;
      margin-right: 20px;
      margin-left: 20px;
    }
    img {
      width: 480px;
    }
    .kegiatan_bersama_text {
      width: 300px;
      .kegiatan_bersama_text_title {
        margin-bottom: 20px;
      }
    }
  }

  .kegiatan_project {
    //border: 2px solid green;
    display: flex;
    justify-content: center;
    svg {
      margin: auto;
      margin-right: 20px;
      margin-left: 20px;
    }
    img {
      width: 480px;
    }
    .kegiatan_project_text {
      text-align: right;
      width: 300px;
      .kegiatan_project_text_title {
        margin-bottom: 20px;
      }
    }
  }
}

.spacing {
  @include containerFlex();
  h1 {
    color: $primary-color;
    font-family: $primary-font;
    font-weight: 700;
    font-size: 24px;
  }
  width: 100%;
  height: 30vh;
}
