@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.5);
}

::-moz-selection {
  color: black;
  background: white;
}

::selection {
  color: black;
  background: white;
}

body {
  background-color: #121212 !important;
}

* {
  padding: 0;
  margin: 0;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

header .logo {
  height: 40px;
  width: auto;
}

header .navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 10%;
}

header ul {
  list-style-type: none;
}

header li,
header a {
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  display: inline-block;
  padding: 0 20px;
  cursor: pointer;
}

header li a {
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

header li a:hover {
  color: white;
}

header button {
  text-decoration: none;
  border-color: white;
  border-style: solid;
  border-width: 1.4px;
  font-family: "Montserrat", sans-serif;
  color: white;
  background-color: #121212;
  padding: 9px 25px;
  border-radius: 50px;
  cursor: pointer;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

header button:hover {
  color: #121212;
  background-color: white;
}

header .icon {
  display: none;
}

footer {
  background-color: rgba(158, 168, 255, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 40px 0px 20px 0px;
}

footer p {
  font-family: "Montserrat", sans-serif;
  color: white;
  font-size: 16px;
  text-align: center;
}

footer .social-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer .logo {
  margin: 20px;
  color: white;
  border: solid;
  border-color: white;
  padding: 13px;
  border-radius: 50px;
  border-width: thin;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

footer .logo:hover {
  color: #20212a;
  background-color: white;
}

.copyright {
  background-color: rgba(158, 168, 255, 0.05) !important;
  text-align: center;
  padding: 10px;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  color: white;
}

@media (max-width: 800px) {
  .non-responsive {
    display: none;
  }
  .icon {
    display: block !important;
  }
  .navbar.responsive {
    position: relative !important;
  }
  .navbar.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

html h1,
body h1 {
  color: rgba(255, 255, 255, 0.8);
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 24px;
}

html h2,
body h2 {
  color: rgba(255, 255, 255, 0.6);
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
}

@media (max-width: 480px) {
  html h1,
  body h1 {
    font-size: 20px;
  }
  html h2,
  body h2 {
    font-size: 15px;
  }
}

@media (max-width: 390px) {
  html h1,
  body h1 {
    font-size: 18px;
  }
  html h2,
  body h2 {
    font-size: 13px;
  }
}

@media (max-width: 390px) {
  html h1,
  body h1 {
    font-size: 16px;
  }
  html h2,
  body h2 {
    font-size: 12px;
  }
}

@media (max-width: 390px) {
  html h1,
  body h1 {
    font-size: 16px;
  }
  html h2,
  body h2 {
    font-size: 12px;
  }
}

.jumbotron {
  height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.jumbotron .image-decor {
  position: relative;
  height: 350px;
}

.jumbotron .image {
  height: 250px;
  width: auto;
  position: absolute;
}

.jumbotron h1 {
  color: rgba(255, 255, 255, 0.8);
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 24px;
}

.jumbotron h2 {
  color: rgba(255, 255, 255, 0.6);
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
}

.container {
  width: 1080px;
  margin: 0 auto;
}

.end {
  height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.end h1 {
  color: rgba(255, 255, 255, 0.8);
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 24px;
}

.end h2 {
  color: rgba(255, 255, 255, 0.6);
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
}

.end button {
  text-decoration: none;
  border-color: white;
  border-style: solid;
  border-width: 1.4px;
  font-family: "Montserrat", sans-serif;
  color: white;
  background-color: #121212;
  padding: 9px 25px;
  border-radius: 50px;
  cursor: pointer;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.end button:hover {
  color: #121212;
  background-color: white;
}

@media (min-width: 300px) {
  .container {
    width: 100%;
  }
}

@media (min-width: 768px) {
  .container {
    width: 700px;
  }
}

@media (min-width: 1080px) {
  .container {
    width: 900px;
  }
}

.kegiatan_wrapper {
  height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  overflow-x: hidden;
}

.kegiatan_wrapper .kegiatan_container {
  height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  height: 100vh;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.kegiatan_wrapper .kegiatan_container .kegiatan_title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 10px;
}

.kegiatan_wrapper .kegiatan_container .kegiatan_title svg {
  margin-left: 25px;
}

.kegiatan_wrapper .kegiatan_container .kegiatan_bersama {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 0px;
}

.kegiatan_wrapper .kegiatan_container .kegiatan_bersama .kegiatan_bersama_svg1 {
  margin: auto;
  padding: 20px;
}

.kegiatan_wrapper .kegiatan_container .kegiatan_bersama .kegiatan_bersama_svg2 {
  display: none;
}

.kegiatan_wrapper .kegiatan_container .kegiatan_bersama img {
  width: 500px;
  margin: auto;
}

.kegiatan_wrapper .kegiatan_container .kegiatan_bersama .kegiatan_bersama_text {
  width: 350px;
  margin-top: 30px;
  z-index: -3;
}

.kegiatan_wrapper .kegiatan_container .kegiatan_bersama .kegiatan_bersama_text .kegiatan_bersama_text_title {
  margin-bottom: 30px;
}

.kegiatan_wrapper .kegiatan_container .kegiatan_project {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.kegiatan_wrapper .kegiatan_container .kegiatan_project .kegiatan_project_svg1 {
  margin: auto;
  padding: 20px;
}

.kegiatan_wrapper .kegiatan_container .kegiatan_project .kegiatan_project_svg2 {
  display: none;
}

.kegiatan_wrapper .kegiatan_container .kegiatan_project img {
  width: 500px;
  margin: auto;
}

.kegiatan_wrapper .kegiatan_container .kegiatan_project .kegiatan_project_text {
  width: 300px;
  text-align: right;
  margin-top: 30px;
  z-index: -3;
}

.kegiatan_wrapper .kegiatan_container .kegiatan_project .kegiatan_project_text .kegiatan_project_text_title {
  margin-bottom: 30px;
}

.kegiatan_wrapper .kegiatan_container .kegiatan_anim_hider1 {
  position: absolute;
  background-color: #121212;
  margin-left: -150px;
  margin-top: -220px;
  height: 245px;
  width: 300px;
  z-index: -2;
}

.kegiatan_wrapper .kegiatan_container .kegiatan_anim_hider2 {
  position: absolute;
  background-color: #121212;
  margin-left: 100px;
  margin-top: 500px;
  height: 245px;
  width: 300px;
  z-index: -2;
}

@media (max-width: 1000px) {
  .kegiatan_wrapper {
    height: 130vh;
  }
  .kegiatan_wrapper .kegiatan_container {
    height: 120vh;
  }
  .kegiatan_wrapper .kegiatan_container .kegiatan_bersama {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .kegiatan_wrapper .kegiatan_container .kegiatan_bersama .kegiatan_bersama_text {
    width: 500px;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    text-align: center;
    margin-top: 0px;
  }
  .kegiatan_wrapper .kegiatan_container .kegiatan_bersama .kegiatan_bersama_text .kegiatan_bersama_text_title {
    margin-bottom: 15px;
  }
  .kegiatan_wrapper .kegiatan_container .kegiatan_bersama .kegiatan_bersama_svg1 {
    display: none;
  }
  .kegiatan_wrapper .kegiatan_container .kegiatan_bersama .kegiatan_bersama_svg2 {
    display: inline;
    margin: auto;
    padding: 20px;
  }
  .kegiatan_wrapper .kegiatan_container .kegiatan_project {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .kegiatan_wrapper .kegiatan_container .kegiatan_project .kegiatan_project_text {
    width: 500px;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    text-align: center;
    margin-top: 0px;
  }
  .kegiatan_wrapper .kegiatan_container .kegiatan_project .kegiatan_project_text .kegiatan_project_text_title {
    margin-bottom: 15px;
  }
  .kegiatan_wrapper .kegiatan_container .kegiatan_project .kegiatan_project_svg1 {
    display: none;
  }
  .kegiatan_wrapper .kegiatan_container .kegiatan_project .kegiatan_project_svg2 {
    display: inline;
    margin: auto;
    padding: 20px;
  }
  .kegiatan_wrapper .kegiatan_container .kegiatan_anim_hider1,
  .kegiatan_wrapper .kegiatan_container .kegiatan_anim_hider2 {
    display: none;
  }
}

@media (max-width: 750px) {
  .kegiatan_wrapper .kegiatan_container .kegiatan_title svg {
    width: 430px;
  }
}

@media (max-width: 630px) {
  .kegiatan_wrapper .kegiatan_container .kegiatan_title svg {
    width: 380px;
  }
}

@media (max-width: 580px) {
  .kegiatan_wrapper {
    height: 115vh;
  }
  .kegiatan_wrapper .kegiatan_container .kegiatan_title {
    margin-bottom: 0px;
  }
  .kegiatan_wrapper .kegiatan_container .kegiatan_title svg {
    margin-left: 20px;
    width: 280px;
  }
  .kegiatan_wrapper .kegiatan_container .kegiatan_bersama .kegiatan_bersama_text {
    width: 400px;
  }
  .kegiatan_wrapper .kegiatan_container .kegiatan_bersama img {
    width: 380px;
  }
  .kegiatan_wrapper .kegiatan_container .kegiatan_bersama .kegiatan_bersama_svg2 {
    width: 320px;
  }
  .kegiatan_wrapper .kegiatan_container .kegiatan_project .kegiatan_project_text {
    width: 400px;
  }
  .kegiatan_wrapper .kegiatan_container .kegiatan_project img {
    width: 380px;
  }
  .kegiatan_wrapper .kegiatan_container .kegiatan_project .kegiatan_project_svg2 {
    width: 320px;
  }
}

@media (max-width: 480px) {
  .kegiatan_wrapper .kegiatan_container {
    height: 110vh;
  }
  .kegiatan_wrapper .kegiatan_container .kegiatan_title svg {
    width: 230px;
  }
  .kegiatan_wrapper .kegiatan_container .kegiatan_bersama .kegiatan_bersama_text {
    width: 300px;
  }
  .kegiatan_wrapper .kegiatan_container .kegiatan_bersama img {
    width: 330px;
  }
  .kegiatan_wrapper .kegiatan_container .kegiatan_bersama .kegiatan_bersama_svg2 {
    width: 280px;
  }
  .kegiatan_wrapper .kegiatan_container .kegiatan_project .kegiatan_project_text {
    width: 300px;
  }
  .kegiatan_wrapper .kegiatan_container .kegiatan_project img {
    width: 330px;
  }
  .kegiatan_wrapper .kegiatan_container .kegiatan_project .kegiatan_project_svg2 {
    width: 280px;
  }
}

@media (max-width: 390px) {
  .kegiatan_wrapper {
    height: 110vh;
  }
  .kegiatan_wrapper .kegiatan_container {
    height: 105vh;
  }
  .kegiatan_wrapper .kegiatan_container .kegiatan_title svg {
    margin: auto;
    margin-left: 10px;
    width: 200px;
  }
  .kegiatan_wrapper .kegiatan_container .kegiatan_bersama .kegiatan_bersama_text {
    width: 260px;
  }
  .kegiatan_wrapper .kegiatan_container .kegiatan_bersama img {
    width: 300px;
  }
  .kegiatan_wrapper .kegiatan_container .kegiatan_bersama .kegiatan_bersama_svg2 {
    width: 270px;
  }
  .kegiatan_wrapper .kegiatan_container .kegiatan_project .kegiatan_project_text {
    width: 260px;
  }
  .kegiatan_wrapper .kegiatan_container .kegiatan_project img {
    width: 300px;
  }
  .kegiatan_wrapper .kegiatan_container .kegiatan_project .kegiatan_project_svg2 {
    width: 270px;
  }
}

@media (max-width: 340px) {
  .kegiatan_wrapper {
    height: 105vh;
  }
  .kegiatan_wrapper .kegiatan_container {
    height: 100vh;
  }
  .kegiatan_wrapper .kegiatan_container .kegiatan_title svg {
    width: 180px;
  }
  .kegiatan_wrapper .kegiatan_container .kegiatan_bersama .kegiatan_bersama_text {
    width: 260px;
  }
  .kegiatan_wrapper .kegiatan_container .kegiatan_bersama img {
    width: 260px;
  }
  .kegiatan_wrapper .kegiatan_container .kegiatan_bersama .kegiatan_bersama_svg2 {
    width: 230px;
  }
  .kegiatan_wrapper .kegiatan_container .kegiatan_project .kegiatan_project_text {
    width: 260px;
  }
  .kegiatan_wrapper .kegiatan_container .kegiatan_project img {
    width: 260px;
  }
  .kegiatan_wrapper .kegiatan_container .kegiatan_project .kegiatan_project_svg2 {
    width: 230px;
  }
}

@media (max-width: 300px) {
  .kegiatan_wrapper {
    height: 105vh;
  }
  .kegiatan_wrapper .kegiatan_container .kegiatan_title svg {
    width: 150px;
  }
  .kegiatan_wrapper .kegiatan_container .kegiatan_bersama .kegiatan_bersama_text {
    width: 260px;
  }
  .kegiatan_wrapper .kegiatan_container .kegiatan_bersama img {
    width: 250px;
  }
  .kegiatan_wrapper .kegiatan_container .kegiatan_bersama .kegiatan_bersama_svg2 {
    width: 230px;
  }
  .kegiatan_wrapper .kegiatan_container .kegiatan_project .kegiatan_project_text {
    width: 260px;
  }
  .kegiatan_wrapper .kegiatan_container .kegiatan_project img {
    width: 250px;
  }
  .kegiatan_wrapper .kegiatan_container .kegiatan_project .kegiatan_project_svg2 {
    width: 230px;
  }
}

@media (max-height: 700px) {
  .kegiatan_wrapper .kegiatan_container .kegiatan_bersama {
    margin-top: 30px;
    margin-bottom: 20px;
  }
}

@media (max-height: 660px) {
  .kegiatan_wrapper {
    margin-top: -20px;
    height: 800px;
  }
  .kegiatan_wrapper .kegiatan_container .kegiatan_bersama {
    margin-top: 40px;
    margin-bottom: 30px;
  }
}

.siapa_wrapper {
  height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.siapa_container {
  height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.siapa_container .siapa_title {
  height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -ms-flex-direction: row;
      flex-direction: row;
  height: 20vh;
}

.siapa_container .siapa_title svg {
  margin: -20px;
  width: 400px;
}

.siapa_container .siapa_isi {
  height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  height: 60%;
  -ms-flex-direction: row;
      flex-direction: row;
}

.siapa_container .siapa_isi .siapa_isi_logo img {
  width: 450px;
  z-index: 2;
  position: absolute;
  margin-top: 80px;
  margin-left: 20px;
}

.siapa_container .siapa_isi .siapa_isi_logo svg {
  width: 500px;
}

.siapa_container .siapa_isi .siapa_isi_text {
  margin-left: 20px;
  width: 400px;
}

@media (max-width: 980px) {
  .siapa_container .siapa_title {
    margin-top: -50px;
  }
  .siapa_container .siapa_title svg {
    margin: 20px;
    width: 250px;
  }
  .siapa_container .siapa_isi {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .siapa_container .siapa_isi .siapa_isi_text {
    text-align: center;
    width: 500px;
  }
}

@media (max-width: 850px) {
  .siapa_container .siapa_title svg {
    margin: 20px;
    width: 220px;
  }
}

@media (max-width: 700px) {
  .siapa_container .siapa_title svg {
    margin: 15px;
    width: 160px;
  }
}

@media (max-width: 580px) {
  .siapa_container .siapa_title svg {
    margin: 10px;
    width: 120px;
  }
  .siapa_container .siapa_isi .siapa_isi_logo img {
    margin-top: 110px;
    width: 350px;
  }
  .siapa_container .siapa_isi .siapa_isi_logo svg {
    width: 400px;
  }
  .siapa_container .siapa_isi .siapa_isi_text {
    text-align: center;
    width: 400px;
  }
}

@media (max-width: 480px) {
  .siapa_container .siapa_title {
    margin-top: -50px;
  }
  .siapa_container .siapa_title svg {
    margin: 0px;
  }
  .siapa_container .siapa_title .siapa_title_left {
    margin-right: 10px;
  }
  .siapa_container .siapa_title .siapa_title_right {
    margin-left: 10px;
  }
  .siapa_container .siapa_isi {
    margin-top: -20px;
  }
  .siapa_container .siapa_isi .siapa_isi_logo img {
    margin-top: 120px;
    width: 300px;
  }
  .siapa_container .siapa_isi .siapa_isi_logo svg {
    width: 350px;
  }
  .siapa_container .siapa_isi .siapa_isi_text {
    width: 340px;
  }
}

@media (max-width: 425px) {
  .siapa_container .siapa_title svg {
    width: 100px;
  }
  .siapa_container .siapa_title .siapa_title_left {
    margin-right: 10px;
  }
  .siapa_container .siapa_title .siapa_title_right {
    margin-left: 10px;
  }
}

@media (max-width: 390px) {
  .siapa_container .siapa_title {
    margin-top: -100px;
  }
  .siapa_container .siapa_isi {
    margin-top: -50px;
  }
  .siapa_container .siapa_isi .siapa_isi_logo img {
    margin-top: 150px;
    width: 250px;
  }
  .siapa_container .siapa_isi .siapa_isi_logo svg {
    width: 300px;
  }
  .siapa_container .siapa_isi .siapa_isi_text {
    width: 280px;
  }
}

@media (max-width: 340px) {
  .siapa_container .siapa_title {
    margin-top: -150px;
  }
  .siapa_container .siapa_title svg {
    width: 70px;
  }
  .siapa_container .siapa_title .siapa_title_left {
    margin-right: 10px;
  }
  .siapa_container .siapa_title .siapa_title_right {
    margin-left: 10px;
  }
  .siapa_container .siapa_isi {
    margin-top: -80px;
  }
  .siapa_container .siapa_isi .siapa_isi_logo img {
    margin-top: 165px;
    width: 200px;
  }
  .siapa_container .siapa_isi .siapa_isi_logo svg {
    width: 250px;
  }
  .siapa_container .siapa_isi .siapa_isi_text {
    width: 250px;
  }
}

@media (max-width: 300px) {
  .siapa_container .siapa_title svg {
    width: 60px;
  }
  .siapa_container .siapa_title .siapa_title_left {
    margin-right: 10px;
  }
  .siapa_container .siapa_title .siapa_title_right {
    margin-left: 10px;
  }
  .siapa_container .siapa_isi .siapa_isi_logo img {
    margin-top: 170px;
    width: 180px;
  }
  .siapa_container .siapa_isi .siapa_isi_logo svg {
    width: 230px;
  }
  .siapa_container .siapa_isi .siapa_isi_text {
    width: 220px;
  }
}

@media (max-height: 800px) and (max-width: 340px) {
  .siapa_container .siapa_isi {
    margin-top: -70px;
  }
  .siapa_container .siapa_isi .siapa_isi_text {
    margin-top: -50px;
  }
}

@media (max-height: 700px) and (max-width: 980px) {
  .siapa_container {
    margin-bottom: 50px;
  }
  .siapa_container .siapa_title {
    margin-top: -120px;
  }
  .siapa_container .siapa_isi .siapa_isi_logo img {
    margin-top: 130px;
    width: 300px;
  }
  .siapa_container .siapa_isi .siapa_isi_logo svg {
    width: 350px;
  }
}

@media (max-height: 700px) and (max-width: 980px) and (max-width: 480px) {
  .siapa_container .siapa_isi .siapa_isi_logo img {
    margin-top: 150px;
    width: 250px;
  }
  .siapa_container .siapa_isi .siapa_isi_logo svg {
    width: 300px;
  }
  .siapa_container .siapa_isi .siapa_isi_text {
    text-align: center;
    width: 320px;
  }
}

@media (max-height: 700px) and (max-width: 390px) {
  .siapa_container .siapa_isi .siapa_isi_logo {
    margin-top: 30px;
  }
  .siapa_container .siapa_isi .siapa_isi_text {
    margin-top: -50px;
    width: 270px;
  }
}

@media (max-height: 700px) and (max-width: 300px) {
  .siapa_container .siapa_isi .siapa_isi_text {
    margin-top: -70px;
  }
}

@media (max-height: 620px) {
  .siapa_container .siapa_title {
    margin-top: -30px;
  }
}

@media (max-height: 620px) and (max-width: 980px) {
  .siapa_container {
    margin-bottom: 50px;
  }
  .siapa_container .siapa_title {
    margin-top: -120px;
  }
  .siapa_container .siapa_isi .siapa_isi_logo img {
    margin-top: 150px;
    width: 250px;
  }
  .siapa_container .siapa_isi .siapa_isi_logo svg {
    width: 300px;
  }
  .siapa_container .siapa_isi .siapa_isi_text {
    margin-top: -50px;
  }
}

@media (max-height: 620px) and (max-width: 340px) {
  .siapa_container .siapa_isi .siapa_isi_logo img {
    margin-top: 170px;
    width: 200px;
  }
  .siapa_container .siapa_isi .siapa_isi_logo svg {
    width: 250px;
  }
  .siapa_container .siapa_isi .siapa_isi_text {
    margin-top: -80px;
    width: 250px;
  }
}

@media (max-height: 570px) and (max-width: 480px) {
  .siapa_container .siapa_isi .siapa_isi_text {
    margin-top: -80px;
  }
}

@media (max-height: 530px) and (max-width: 980px) {
  .siapa_container .siapa_isi .siapa_isi_logo {
    margin-top: -60px;
  }
  .siapa_container .siapa_isi .siapa_isi_text {
    margin-top: -90px;
  }
}

@media (max-height: 530px) and (max-width: 580px) {
  .siapa_container .siapa_isi .siapa_isi_logo img {
    margin-top: 170px;
    width: 200px;
  }
  .siapa_container .siapa_isi .siapa_isi_logo svg {
    width: 250px;
  }
}

@media (max-height: 530px) and (max-width: 480px) {
  .siapa_container .siapa_isi .siapa_isi_logo img {
    margin-top: 180px;
    width: 180px;
  }
  .siapa_container .siapa_isi .siapa_isi_logo svg {
    width: 230px;
  }
}

@media (max-height: 530px) and (max-width: 380px) {
  .siapa_container .siapa_isi .siapa_isi_logo img {
    margin-top: 180px;
    width: 150px;
  }
  .siapa_container .siapa_isi .siapa_isi_logo svg {
    width: 200px;
  }
  .siapa_container .siapa_isi .siapa_isi_text {
    margin-top: -150px;
  }
}

@media (max-height: 515px) {
  .siapa_wrapper {
    height: 600px;
  }
  .siapa_container {
    height: 600px;
  }
  .siapa_container .siapa_isi .siapa_isi_logo img {
    margin-top: 140px;
    width: 250px;
  }
  .siapa_container .siapa_isi .siapa_isi_logo svg {
    width: 300px;
  }
}

@media (max-height: 515px) and (max-width: 980px) {
  .siapa_container .siapa_isi .siapa_isi_logo {
    margin-top: -60px;
  }
  .siapa_container .siapa_isi .siapa_isi_text {
    margin-top: -90px;
  }
}

@media (max-height: 515px) and (max-width: 580px) {
  .siapa_container .siapa_isi .siapa_isi_logo img {
    margin-top: 170px;
    width: 200px;
  }
  .siapa_container .siapa_isi .siapa_isi_logo svg {
    width: 250px;
  }
}

@media (max-height: 515px) and (max-width: 480px) {
  .siapa_container .siapa_isi .siapa_isi_logo {
    margin-top: -20px;
  }
  .siapa_container .siapa_isi .siapa_isi_logo img {
    margin-top: 180px;
    width: 180px;
  }
  .siapa_container .siapa_isi .siapa_isi_logo svg {
    width: 230px;
  }
}

@media (max-height: 515px) and (max-width: 380px) {
  .siapa_container .siapa_title {
    margin-top: -120px;
  }
  .siapa_container .siapa_isi .siapa_isi_logo img {
    margin-top: 180px;
    width: 150px;
  }
  .siapa_container .siapa_isi .siapa_isi_logo svg {
    width: 200px;
  }
  .siapa_container .siapa_isi .siapa_isi_text {
    margin-top: -110px;
  }
}

@media (max-height: 480px) {
  .siapa_container .siapa_isi .siapa_isi_logo {
    margin-top: -20px;
  }
}

@media (max-height: 480px) and (max-width: 340px) {
  .siapa_container .siapa_title {
    margin-top: -150px;
  }
  .siapa_container .siapa_isi .siapa_isi_logo {
    margin-top: 10px;
  }
}

@media (max-height: 460px) and (max-width: 980px) {
  .siapa_container .siapa_isi .siapa_isi_logo {
    margin-top: -80px;
  }
  .siapa_container .siapa_isi .siapa_isi_logo img {
    margin-top: 170px;
    width: 200px;
  }
  .siapa_container .siapa_isi .siapa_isi_logo svg {
    width: 250px;
  }
  .siapa_container .siapa_isi .siapa_isi_text {
    margin-top: -110px;
  }
}

@media (max-height: 460px) and (max-width: 580px) {
  .siapa_container .siapa_title {
    margin-top: -80px;
  }
  .siapa_container .siapa_isi .siapa_isi_logo {
    margin-top: -90px;
  }
  .siapa_container .siapa_isi .siapa_isi_logo img {
    margin-top: 190px;
    width: 150px;
  }
  .siapa_container .siapa_isi .siapa_isi_logo svg {
    width: 200px;
  }
  .siapa_container .siapa_isi .siapa_isi_text {
    margin-top: -120px;
  }
}

@media (max-height: 460px) and (max-width: 480px) {
  .siapa_container .siapa_title {
    margin-top: -100px;
  }
  .siapa_container .siapa_isi .siapa_isi_logo {
    margin-top: -60px;
  }
  .siapa_container .siapa_isi .siapa_isi_logo img {
    margin-top: 190px;
    width: 120px;
  }
  .siapa_container .siapa_isi .siapa_isi_logo svg {
    width: 180px;
  }
}

@media (max-height: 460px) and (max-width: 380px) {
  .siapa_container .siapa_title {
    margin-top: -120px;
  }
  .siapa_container .siapa_isi .siapa_isi_logo {
    margin-top: -20px;
  }
  .siapa_container .siapa_isi .siapa_isi_logo img {
    margin-top: 190px;
    width: 120px;
  }
  .siapa_container .siapa_isi .siapa_isi_logo svg {
    width: 180px;
  }
}

@media (max-height: 460px) and (max-width: 340px) {
  .siapa_container .siapa_title {
    margin-top: -150px;
  }
  .siapa_container .siapa_isi .siapa_isi_logo {
    margin-top: 0px;
  }
  .siapa_container .siapa_isi .siapa_isi_logo img {
    margin-top: 190px;
    width: 120px;
  }
  .siapa_container .siapa_isi .siapa_isi_logo svg {
    width: 180px;
  }
}

@media (max-height: 430px) {
  .siapa_wrapper {
    height: 500px;
  }
  .siapa_wrapper .siapa_container {
    height: 500px;
  }
}

@media (max-height: 430px) and (max-width: 980px) {
  .siapa_container .siapa_isi .siapa_isi_logo img {
    margin-top: 180px;
    width: 150px;
  }
  .siapa_container .siapa_isi .siapa_isi_logo svg {
    width: 200px;
  }
}

@media (max-height: 430px) and (max-width: 340px) {
  .siapa_container .siapa_title {
    margin-top: -100px;
  }
  .siapa_container .siapa_isi {
    margin-top: -50px;
  }
  .siapa_container .siapa_isi .siapa_isi_logo img {
    margin-top: 190px;
    width: 120px;
  }
  .siapa_container .siapa_isi .siapa_isi_logo svg {
    width: 180px;
  }
}

@media (max-height: 380px) {
  .siapa_container .siapa_isi .siapa_isi_logo img {
    margin-top: 160px;
    width: 200px;
  }
  .siapa_container .siapa_isi .siapa_isi_logo svg {
    width: 250px;
  }
}

@media (max-height: 380px) and (max-width: 980px) {
  .siapa_container .siapa_isi .siapa_isi_logo img {
    margin-top: 180px;
    width: 150p;
  }
  .siapa_container .siapa_isi .siapa_isi_logo svg {
    width: 200px;
  }
}

@media (max-height: 320px) {
  .siapa_container .siapa_isi {
    margin-top: 20px;
  }
}

header,
.jumbotron,
.divisi_container {
  display: none;
}

html,
body {
  overflow-x: hidden;
}

.divisi_container {
  height: 100vh;
  width: 100%;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.divisi_container .divisi_title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 140px;
}

.divisi_container .divisi_title .divisi_title_text {
  margin-left: 20px;
}

.divisi_container .divisi_developer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 70px;
}

.divisi_container .divisi_developer .divisi_developer_text {
  width: 350px;
  text-align: right;
}

.divisi_container .divisi_developer .divisi_developer_text .divisi_developer_text_title {
  margin-right: -40px;
  margin-bottom: 10px;
}

.divisi_container .divisi_developer svg {
  margin-left: 50px;
  width: 300px;
  height: 250px;
}

.divisi_container .divisi_designer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.divisi_container .divisi_designer .divisi_designer_text {
  width: 350px;
}

.divisi_container .divisi_designer .divisi_designer_text .divisi_designer_text_title {
  margin-left: -40px;
  margin-bottom: 10px;
}

.divisi_container .divisi_designer svg {
  margin-right: 50px;
  width: 300px;
  height: 250px;
}
/*# sourceMappingURL=style.css.map */